<div id="about" class="page">
  <p>
  The Fabulous Party Boys are a seven-piece, hard-hitting, horn-heavy party funk band. Based in Seattle, they blend funk, rock, and soul with a little quirkiness to create an infectious party atmosphere guaranteed to get you on the dance floor. From funky beats to fun lyrics, tight horns to electric tuba, The Fabulous Party Boys satisfy the funkophile in all of us.
  </p>
  <br />
  The Fabulous Party Boys are:<br />
  <br />
  Elliot Gray, Keyboards<br />
  Tazlyn Gue, Vocals<br />
  Jon Hansen, Electric Tuba<br />
  Ray Larsen, Trumpet<br />
  Scott Macpherson, Saxophones<br />
  Marshall Petryni, Drums<br />
  Andy Short, Guitar
</div>
