<div id="about" class="page">
  <p>
  Based in Seattle, The Fabulous Party Boys blend rock, soul, jazz, and electric tuba to create a new kind of party vibe. Their compositions are unique, stimulating, and always funky. Too groovy for standing still and engaging enough to intrigue the mind, each performance has something for the funkophile in all of us: positive lyrics, improvised solos, and a fun-loving attitude. With their funky beats and fat horns, The Fabulous Party Boys always leave you satisfied but wanting more.
  </p>
  <br />
  The Fabulous Party Boys are:<br />
  <br />
  Elliot Gray, Keyboards<br />
  Tazlyn Gue, Vocals<br />
  Jon Hansen, Electric Tuba<br />
  Ray Larsen, Trumpet<br />
  Scott Macpherson, Saxophones<br />
  Marshall Petryni, Drums<br />
  Andy Short, Guitar
</div>
