<div class="show">
  <h3><%= show.date.strftime("%B #{show.date.day.ordinalize}") %></h3>
  <p><%= show.venue %></p>
  <% %w(location other_acts time price notes).map(&:to_sym).each do |sym| %>
    <% if show.send(sym) && !show.send(sym).blank? %>
      <p><%= show.send sym %></p>
    <% end %>
  <% end %>
</div>
